<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DefraFeed" value="https://pkgs.dev.azure.com/defragovuk/_packaging/DEFRA-CDP-NUGET_FEED%40Local/nuget/v3/index.json" />
  </packageSources>
</configuration>